.main-header {
    min-width: 1020px;
    color: #333;
    text-align: center;
    font-size: 12px;
    line-height: 1.75em;
    font-weight: 700;
    z-index: 9;
    border-bottom: none;
    background: #666;
}

.main-header-container {
    width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    display: block;
}

.main-header-link {
    color: white;
    text-decoration: none;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    justify-content: center
}

.main-header-image {
    margin-right: 3px;
    margin-top: 4px;
    background-image: url(https://i.imgur.com/vfGsOUi.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 18px;
    width: 18px;
    background-position: center;
}

.main-header-slogan {
    padding-top: 3px;
    font-family: "Helvetica Neue";
    font-weight: 900;
}

.homepage-main-container {
    background-image: url(https://i.imgur.com/tq27N4t.jpg);
    height: 570px;
    padding-top: 30px;
    background-color: 333px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    font-family: "Helvetica Neue";
}

.homepage-main-nav-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    height: 36px;
    display: flex;
}

.homepage-nav-reviews {
    height: 100%;
    color: white;
    font-weight: 700;
    display: flex;
    font-size: 14px;
    width: 755px;
}

.ul-nav-reviews {
    display: flex;
    width: 256px;
    justify-content: space-evenly;
    
}

.homepage-nav-session {
    height: 100%;
    color: white;
    font-weight: 700;
    display: flex;
    font-size: 14px;
    width: 205px;
}

.login-signup {
 color: white;
 display: flex;
 height: 100%;
 justify-content: flex-end;
}
.login-signup .login {
    width: 65px;
    color: white;
    line-height: 30px;
}



.login-signup .signup {
    width: 104px;
    border: 2px solid white;
    font-family: "Helvetica Neue";
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
}

.login-signup .login a {
    color: white;
    font-family: "Helvetica Neue";
    font-weight: 700;
    text-decoration: none;
}
.login-signup .signup a {
    color: white;
    font-family: "Helvetica Neue";
    font-weight: 700;
    text-decoration: none;
}

.homepage-main-inner-inner-container {
    width: 960px;
    height: 499px;
    margin: 0 auto;
}

.homepage-main-inner-inner-container .main-logo {
    margin-top: 50px;
    margin-left: 420px;
    padding-bottom: 30px;
    
}

.main-logo-container {
    width: 100%;
    height: 80px;
}

.main-logo {
    height: 80px;
    width: 80px;
    background-size: 100%;
    background-position: center;
    
}

.main-search-form {
    width: 960px;
    height: 63px;
    display: block;
    padding-top: 30px;
}

.main-business-search {
    width: 960px;
    height: 63px;
    display: flex;
    justify-content: center;
}

.main-business-search input[type="text"] {
    width: 416px;
    height: 45px;
    font-weight: 400;
    font-size: 18px;
}


.business-search {
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #999;
}

.location-search {
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #999;
}

.main-search-button {
    width: 65px;
    height: 45px;
    
    
}

.search-button {
    width: 100%;
    height: 100%;
    background-color: #D32323;
    color: #D32323;
    line-height: 1.5em;
    border-radius: 0 4px 4px 0;
    vertical-align: middle;
    overflow: hidden;
    background-image: url(https://i.imgur.com/6nfeJt3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
}



.main-nav-categories {
    width: 960px;
    height: 192px;
    color: white;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 700;
}

.ul-nav-categories {
    display: flex;
    justify-content: center;
    font-size: 100%;
}

.ul-nav-categories li {
    padding: 10px;
}

.signup:hover {
    background-color: white;
    color: #666;
    transition-delay: .3s;
    -webkit-transition-delay: .3s;
}

.signup-word:hover {
    color: #333;
}

.main-header-credits {
    width: 960px;
    height: 36px;
    font-size: 14px;
    color: white;
    font-weight: bold;
}
.business-credit {
    width: 960px;
    height: 18px;
    text-align: center;
    
}
.name-credit {
    width: 960px;
    height: 18px;
    text-align: center;   
}



.login:hover {
    box-shadow: inset 0 -3px 0 white, inset 0 -3.5px 0 white;
}

.nav-events-link:hover {
    box-shadow: inset 0 -3px 0 white, inset 0 -3.5px 0 white;
}

.nav-review-link:hover {
    box-shadow: inset 0 -3px 0 white, inset 0 -3.5px 0 white;
}

.nav-talk-link:hover {
    box-shadow: inset 0 -3px 0 white, inset 0 -3.5px 0 white;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.login-signup-header {
    min-width: 1020px;
    color: #bd1f1f;
    text-align: center;
    font-size: 12px;
    line-height: 1.75em;
    font-weight: 700;
    z-index: 9;
    border-bottom: none;
    background: #bd1f1f;
}

.login-signup-header-container {
    width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    display: block;
}

.login-signup-header-link {
    color: white;
    text-decoration: none;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    justify-content: center
}

.login-signup-header-image {
    margin-right: 3px;
    margin-top: 4px;
}

.login-signup-header-slogan {
    padding-top: 3px;
    font-family: "Helvetica Neue";
    font-weight: 900;
}

.processingForm-header {
    min-width: 1020px;
    color: #d32323;
    padding: 12px 14px;
    border-bottom: none;
    background: #d32323;
    position: relative;
    margin: 0 auto;

}


.login-signup-help-logo {
    
    height: 40px;
    width: 80px;
    background-size: 100%;
    background-position: center;
    margin: 0 auto;
}

.login-signup-container {
    max-width: 990px;
    margin: 0 auto;
}

.login-signup-layout {
    display: flex;
    justify-content: center;
    margin-bottom: 80px
}

.login-form-box {
    max-width: 300px;
    height: 400px;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.login-legal-header {
    font-size: 22px;
    font-weight: 700;
    color: #d32323;
    margin-bottom: 5px;
    line-height: 1.2em;
}

.login-legal-saying {
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 14px;
    color: black;
}

.login-legal-terms {
    font-size: 12px;
    line-height: 1.5em;
    color: black;
    margin-bottom: 12px;
}

.login-form-box .email-password {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #999;
    width: 100%;
    padding: 5px 9px;

}

.login-form-box .zipcode {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #999;
    width: 100%;
    
}

.login-form-box .first_and_last {
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.login-form-box .names {
    width: 150px;
    height: 30px;
    border-radius: 1px;
    box-sizing: border-box;
    border: 0.5px solid #999;
    width: 100%;
    
}

.login-form-box input[type="first_name"],
.login-form-box input[type="last_name"] {
    width: 150px;
    height: 30px;
}

.login-form-box input[type="submit"] {
    background-color: #db0e0e;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #8d0005;
    color: white;
    border-radius: 4px;
    width: 100%;
    padding: 12px 0;
    margin-top: 8px;
    font-family: "Helvetica Neue";
}

.login-form-photo {
    width: 495px;
    height: 471px;
    margin-top: 100px;
}

.login-photo {
    width: 300px;
    height: 300px;
    background-image: url(https://i.imgur.com/6ZwLKaJ.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.login-signup-errors-container {
    width: 300px;
    height: 55px;
    padding-bottom: 5px;
}

.ul-login-signup-errors {
    width: 100%;
    color: red;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */


.body {
    font-family: "Helvetica Neue";
}
