.bus-show-reviews-container{
    width:600px;
    padding-top: 10px;
}

.ul-business-show-review{
    width: 600px;
    padding-bottom: 30px;
}

.review-business-show-li{
    width: 600px;
    height: 240px;
    padding-top: 18px;
    padding-bottom: 18px;
    border-bottom: 1px solid #e6e6e6;
}

.review-item-li-container{
    width: 600px;
    height: 200px;
    
}

.review-item-li-left-container{
    width: 250px;
    height: 200px;
    float: left;
    display: flex;
}

.review-item-li-right-container{
    width: 350px;
    height: 200px;
    float: right;
}

.review-item-rating-container{
    width: 350px;
    height: 20px;
    display: flex;
}

.review-item-content-container{
    width: 350px;
    height: 150px;
    padding-top: 5px;
    font-size: 14px;
    font-family:"Helvetica Neue";
    color: #333333;

}

.review-item-destroy-container{
    width: 350px;
    height: 40px;
}

.star-review-item-rating{
    color: #ffffff;
    
}

.review-item-content{
    padding-top: 5px;
}

/* .review-item-content-container img{
    padding-top: 10px;
} */

.review-item-content-img{
    padding-top: 10px;
}

.review-user{
    /* text-align: center; */
    /* padding: 23px; */
    padding-top: 10px;
    font-family:"Helvetica Neue";
    display: block;
    font-weight: bold;
    color: #0073bb;
}

.star-review-item-rating{
    display: flex;
}

.star-box{
    height: 20px;
    width: 20px;
    /* background: #f15c4f */
}

.star-review-item-rating-blank{
    
}

#stary{
    background: #cccccc;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    background: #f15c4f;
    margin-left: 0px;
    padding: 1px;
    border-radius: 3px;

}

.review-item-img-box{
    width: 150px;
    height: 150px;
    overflow: hidden;
}

.review-image{
    height: 150px;
    cursor: pointer;
}

.delete-review{
    width: 100px;
    height: 20px;
    float: right;
}

.deleteReviewButton {
    background: #bd2020;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 11px;
    font-family:"Helvetica Neue";
    width: 90px;
    height: 20px;
}

.editReviewButton {
   background:#bd2020;
    color: white;
    border-radius: 4px;
    cursor: pointer; 
    text-decoration: none;
    font-size: 11px;
    font-family:"Helvetica Neue";
    width: 90px;
    height: 20px;

}
.editReviewButton a {
    text-decoration: none;
    color: white;
}

.rating-selector p {
    width: 200px;
    margin-right: -100px;
    padding-left: 5px;
     font-family:"Helvetica Neue";
    
}

.field {
    font-family:"Helvetica Neue";
    padding-left: 1px;

}

.review-user-image-box{
    width: 70px;
}

.review-user-image{
    width: 60px;

}

.review-user-count{
    color: #666666;
    font-size: 12px;
    padding-top: 5px;
}