.business-index-container{
    min-width: 990px;
    font-family: "Helvetica Neue";
}

.business-index-inner-container{
    width: 990px;
    margin: 0 auto;
    padding-top: 15px;
}

.business-index-header{
    width: 100%;
    height: 85px;
    padding-top: 30px;
    border-color: #e6e6e6;
    background: #f5f5f5;
    border-bottom: 1px;
}

.business-index-header p{
    font-family: inherit;
    color: #333;
    font-weight: bold;
    font-size: 21px;
    text-align: center;
    padding-top: 15px;
}

.businesses-container{
    width: 960px;
    display: flex;
}


.businesses-ul{
    width: 630px;
    
}

.business-index-li {
    width: 630px;
    height: 240px;
    display: flex;
    border-bottom: solid 1px #e6e6e6;
}

.index-li-img{
    padding-top: 15px;
    height: 210px;
    width: 210px;
    overflow: hidden;
    border-radius: 4px;
}
.index-li-picture{
    /* width: 200px;
    width: 210px;
    height: 210px;
    overflow: hidden; */
}

.index-li-info-container{
    width: 430px;
    /* display: flex; */
}

.index-li-top-left {
    width: 200px;
    height: 100px;
}

.index-li-top-left .star-review-item-rating {
    padding-top: 10px;
}

.index-name-div{
    padding-top: 15px;

}

.index-image{
    /* width: 210px;
    height: 210px; */
    height: 210px;
    border-radius: 4px;
}

.business-index-show-link{
    text-decoration: none;
    color: #0073bb;
    font-family: inherit;
    font-size: inherit;
    font-weight: 800;
}

.index-li-top-right {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
}

.index-li-top-right span {
    font-size: 14px;
    color: #333333;
}

.index-address-top {
    padding-top: 15px;
    text-align-last: end;
    color: #333333;
}

.index-address{
    padding-top: 10px;
    text-align-last: end;
    color: #333333;
}

.star-index-box{
    width: 200px;
    height: 30px;
    display: flex;
}

.star-index-box .star-review-item-rating {
    width: 100px;
}

.span-reviews-count {
    padding-top: 10px;
    font: inherit;
    font-size: 14px;
    color: #666;
    padding-left: 5px;

}


.businesses-index-rightSide{
    width: 300px;
    padding-left: 30px;
}

.business-index-map #map {
    width: 300px;
    height: 300px;
}


.index-li-top-container {
    width: 430px;
    height: 100px;
    padding-left: 30px;
    display: flex;
}

.index-li-bottom-container {
    width: 430px;
    height: 110px;
    padding-left: 30px;
    font-size: 14px;
    color: #333333;
}

.business-page-logout {
    width: 100%;
    height: 100%;
    color: #FFFFFF;
    background: transparent;
    border: 0;
    font-weight: 800;
}