.homepage-main-container {
    background-image: url(https://i.imgur.com/tq27N4t.jpg);
    height: 570px;
    padding-top: 30px;
    background-color: 333px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}