.main-searchData{
    width: 401.5px;
    margin-top: -17px;
    margin-left: 30px;
    border-radius: 2px;
    background-color: #FFFFFF;
    font-family: inherit;
    position: absolute;
}



.main-page-search-result{
    padding-left: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
}
.main-page-search-result:hover{
    background-color: #0073bc;
    color: #FFFFFF;
}

.main-page-search-result:hover a {
    color: #FFFFFF;
}

.liveLetters {
    font-weight: bold;
}

.main-business-search-img-box {
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 2px;
}

.main-business-search-img {
    height: 100%;
    border-radius: 2px;

}
.main-business-search-name {
    padding: 7px;
}

.main-business-search-name a{
    
    text-decoration: none;
    color: #333333;
}

.business-show-index-searchData{
    width: 326.5px;
    margin-top: 36px;
    margin-left: -206px;
    border-radius: 2px;
    background-color: #FFFFFF;
    font-family: inherit;
    position: absolute;
    box-shadow: 2px 4px 5px 0px #ccc;
    z-index: 100;
}
