.review-banner {
    background: #d32323;
    
   
    position: relative;
    height: 64px;
}

.review-banner-container{
    
    margin: 0 auto;
}

.reivew-banner-inner-container {
    width: 996px;
    height: 40px;
    margin: 0 auto;
    display: flex;
    padding: 12px 12px
}

.review-logo {
    width: 80px;
    height: 40px;
    /* background-image: url(https://i.imgur.com/khxz88S.png); */
    
    /* background-size: 100%; */
    background-position: center;
    background-repeat: no-repeat;
}

.yap-review-logo{
    font-size: 35px;
    color: #FFFFFF;
    font-family: "oswald";
    -webkit-text-stroke: -1px black;
   color: white;
   font-weight: bold;
   text-shadow:
       1px 1px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.yap-review-logo-link{
    text-decoration: none;
    color: #ffffff;
}

.write-a-review-header {
    width: 142px;
    height: 40px;
    font-size: 20px;
    font-family: "Helvetica Neue";
    color: #ffffff;
    vertical-align: middle;
    margin-left: 12px;
    text-align: center;
    font-weight: 450;
}

.write-a-review-header span{
    line-height: 41px;
}

.review-main-container {
    position: relative;
    overflow: hidden;
}


.review-container{
    max-width: 996px;
    margin: 0 auto;
    display: block;
}

.left-review-container{
    max-width: 625px;
}

.business-review-header{
    
    width: 625px;
    height: 84px;
    padding-bottom: 12px;
    display: flex;
    
    padding-left: -1px;
    
}

.review-business-name{
    width: 408px;
    font-size: 35px;
    font-family: "Helvetica Neue";
    color: #0073bb;
    text-decoration: none;
    font-weight: bold;
}

.guidelines{
    width: 217px;
    margin-right: -60px;
    font-family: "Helvetica Neue";
}

.guidelines a {
    text-decoration: none;
    color: #0073bb;
}

.review-form-container{
    width: 625px;
    height: 510px;
}

.review-form{
    width: 625px;
    height: 384px;
    padding: 18px;
    border: 1px solid #ccc;
    cursor: text;
    border-radius: 4px;
}

.review-button-box{
    width: 625px;
    height: 84px;
    margin: 15px 0px 0px;
}

.review-buttin-inner{
   
}

.actual-review-button{
    width: 240px;
    height: 43px;
    align-items: flex-start;
    background: #d32323;
    font-family: "Helvetica Neue";
    font-size: 16px;
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
}

.rating-data{
    width: 587px;
    height: 30px;
    
}

.content-data{
    width: 587px;
    height: 258px;
    border: 0;
    resize: none;
    font-size: 18px;
    font-family: "Helvetica Neue";
    color: #333333;
}



.ul-field-rating{
    width: 200px;
    height: 30px;
    display: flex;
    flex-direction: row-reverse;
}

input[type=radio]{
    display:none;
    visibility: collapse;
}

.star-box-rev{
    
    width: 20px;
    height: 20px;
}

.fa-star:before{
    color: white;
}

.ul-field-rating .fa{
    /* display: inline-block; */
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    padding: 1px;
    -moz-osx-font-smoothing: grayscale;
    border-radius: 3px;
    height: 18px;
    width: 15px;
    margin-left: 3px;
    background: #cccccc;
}

fieldset{
    width: 100px;
    height: 30px;
    
}

.ul-field-rating .fa:hover,
   
    .ul-field-rating .fa:hover ~ .fa-star,
    .rating-input:checked ~ .fa-star{
        background: #f15c4f;
        background-position: 0 0;
    }

 .tcheck1{
    background: lightblue;
}

.check2{
    background: lightblue;
}

.error-review-box {
    position: absolute;
    margin-top: -39px;
    padding-left: 25px;
    color: #d32323;
    font-family: "Helvetica Neue";
}

.review-form-container .field {
    padding-top: 5px;
    font-family: "Helvetica Neue";

}