.login-signup-header {
    min-width: 1020px;
    color: #bd1f1f;
    text-align: center;
    font-size: 12px;
    line-height: 1.75em;
    font-weight: 700;
    z-index: 9;
    border-bottom: none;
    background: #bd1f1f;
}



.login-signup-header-container {
    width: 960px;
    margin: 0 auto;
    padding: 0 15px;
    display: block;
}

.login-signup-header-link {
    color: white;
    text-decoration: none;
    font-size: 100%;
    vertical-align: baseline;
    display: flex;
    justify-content: center
}

.login-signup-header-image {
    margin-right: 3px;
    margin-top: 4px;
}

.login-signup-header-slogan {
    padding-top: 3px;
    font-family: "Helvetica Neue";
    font-weight: 900;
}

.processingForm-header {
    min-width: 1020px;
    color: #d32323;
    padding: 12px 14px;
    border-bottom: none;
    background: #d32323;
    position: relative;
    margin: 0 auto;

}


.login-signup-help-logo {
    background-image: url(https://i.imgur.com/khxz88S.png);
    height: 40px;
    width: 80px;
    background-size: 100%;
    background-position: center;
    margin: 0 auto;
}

.login-signup-container {
    max-width: 990px;
    margin: 0 auto;
}

.login-signup-layout {
    display: flex;
    justify-content: center;
    margin-bottom: 80px
}

.login-form-box {
    max-width: 300px;
    height: 400px;
    margin: auto;
    text-align: center;
    margin-top: 131px;
}

.login-legal-header {
    font-size: 22px;
    font-weight: 700;
    color: #d32323;
    margin-bottom: 5px;
    line-height: 1.2em;
}

.login-legal-saying {
    font-weight: bold;
    margin-bottom: 12px;
    font-size: 14px;
    color: black;
}

.login-legal-terms {
    font-size: 12px;
    line-height: 1.5em;
    color: black;
    margin-bottom: 12px;
}

.login-form-box .email-password {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #999;
    width: 100%;
    padding: 5px 9px;
    margin: 5px 0;
    font-size: 14px;
    font-family: "Helvetica Neue";

}

.login-form-box .zipcode {
    width: 300px;
    height: 30px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #999;
    width: 100%;
    padding: 5px 9px;
    font-size: 14px;
    font-family: "Helvetica Neue";
}

.login-form-box .first_and_last {
    width: 300px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.login-form-box .names {
    width: 150px;
    height: 30px;
    /* border-radius: 1px;
    box-sizing: border-box;
    border: 0.5px solid #999; */
    width: 100%;
}

.login-form-box .first-name{
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #999;
    padding: 5px 9px;
    font-size: 14px;
    font-family: "Helvetica Neue";
    
    
}

.login-form-box .last-name{
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid #999;
    padding: 5px 9px;
    font-size: 14px;
    font-family: "Helvetica Neue";
    
    
}

.login-form-box input[type="first_name"],
.login-form-box input[type="last_name"] {
    width: 150px;
    height: 30px;
    
}

.login-form-box input[type="submit"] {
    background-color: #db0e0e;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #8d0005;
    color: white;
    border-radius: 4px;
    width: 100%;
    padding: 12px 0;
    margin-top: 8px;
    font-family: "Helvetica Neue";
}

.login-form-photo {
    width: 495px;
    height: 471px;
    margin-top: 100px;
}

.login-photo {
    width: 400px;
    height: 400px;
    background-image: url(https://i.imgur.com/6ZwLKaJ.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.login-signup-errors-container {
    width: 300px;
    height: 55px;
    padding-bottom: 10px;
}

.ul-login-signup-errors {
    width: 100%;
    color: red;
}

.email-password-div {
    width: 300px;
    height: 70px;
    display: block;
    padding: 3px 0;
    padding-bottom: 0px;
    
}

.email-password-div .email {
    margin-top: 0;
}
.email-password-div .password {
    margin-bottom: 0;
}

.main-zipcode-div {
    width: 300px;
    height: 30px;
    padding-top: 16px;
    font-size: 14px;
    font-family: "Helvetica Neue";
}

.first-name-div {
    width: 150px;
    height: 30px;
}

.first-name-div .first-name{
    width: 147px;
}
.last-name-div .last-name{
    width: 147px;
    padding-right: 0px;
}

.first-name-div {
    margin-left: -1px;
}

